@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
table,
tr,
th,
td,
fieldset,
legend {
    font-family: 'Spoqa Han Sans Neo', 'Nanum Gothic', 'Malgun Gothic', '맑은 고딕', sans-serif;
    color: #545760;
    font-size: 16px;
}
body {
    margin: 2% 20%;
    background-color: #ffffff;
}
fieldset,
img {
    border: 0 none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #494139;
}
a:hover {
    text-decoration: none;
    color: #000;
}
button {
    border: 0 none;
    font-family: 'Noto Sans KR', sans-serif, 'Malgun Gothic';
}
img {
    vertical-align: top;
}
p {
    word-break: break-all;
}
/* common */
/*body{background-color: }*/
.background {
    width: 100%;
    background-color: #f6efe7;
}
.left {
    flex-direction: row-reverse;
    background-color: #fff;
}
legend {
    text-indent: -9999em;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
}
.hgroup h2 {
    font-size: 1.26em;
    font-weight: 700;
}
.hgroup span {
    display: block;
    width: 32px;
    height: 2.6px;
    margin-bottom: 10px;
    background-color: #494139;
}
.btn {
    display: block;
    width: 150px;
    color: #fff;
    text-align: left;
    font-size: 1em;
    background-color: #494139;
    border-radius: 50px;
}
.btn:hover {
    color: #fff;
}
.btn.download {
    background: url(../img/download.svg) #494139 no-repeat 95% 50%/20px 20px;
}
.btn.link {
    background: url(../img/arrow_right.svg) #494139 no-repeat 95% 50%/20px 20px;
}
.contents .row {
    padding: 100px 0;
}
.bg_white {
    background-color: #fff;
}
/* .container */
.row {
    background-attachment: fixed;
}
/* #header #nav */
#header #nav {
    padding-top: 10px;
}
#header #nav .home {
    margin-right: auto;
}
#header #nav a:hover {
    color: rgba(73, 65, 57, 0.5);
}

/* #header .mainheader */
#header .mainheader h1 {
    padding: 150px 0;
}
#header .mainheader h1 span {
    font-size: 4.8em;
}
#header .mainheader h1 strong {
    display: block;
    font-size: 4.8em;
}
#header .mainheader p {
    margin-left: auto;
    width: 50%;
    font-size: 0.93em;
    text-align: right;
}

/*contents */
.contents {
    margin-top: 100px;
}
.contents img {
    width: 100%;
}

.contents .line {
    display: inline-block;
    text-align: left;
    margin: 30px 0;
    width: 4%;
    height: 2px;
    background-color: #000;
}

/* .explain */
.explain .row .col .row {
    width: 100%;
}

/* contents explain */
.contents.explain {
    width: 100%;
}
.contents.explain .row {
    width: 100%;
}
.contents.explain .col {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: flex-start;
    width: calc(100% / 3);
}
.contents.explain h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

/* contents row */
.contents.row {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.25rem;
    width: 100%;
}
.contents.row h3 {
    font-size: 1.25rem;
    font-weight: 700;
    width: calc(20% - 1.25rem);
}
.contents.row div {
    width: calc(80% - 1.25rem);
}
.contents.row .cont {
    width: 100%;
    margin-top: 6.25rem;
}
.contents.row .cont h4 {
    color: #3b3e46;
    font-size: 1.25rem;
    font-weight: 700;
}
.contents.row .cont p {
    margin: 40px 0;
}
.contents.row .cont img {
    width: 100%;
}
.link_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    text-indent: -9999em;
    background: url(../img/top.svg) rgb(216, 201, 181) no-repeat 50% 50% / 30px 30px;
}

/* first */
.first h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #3b3e46;
    margin-top: 30px;
}

.image img {
    margin-top: 30px;
}
.download a {
    display: block;
    padding: 16px 50px;
    border: 1px solid #3b3e46;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
}
