@media screen and (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}
@media screen and (max-width: 992px) {
    .contents .portfolio .portfolio_info .portfolio_name {
        width: 100%;
    }
    .contents .portfolio .portfolio_info .btns .link:nth-child(1) {
        width: 100px;
    }
    .contents .portfolio .portfolio_info .btns .link:nth-child(2) {
        width: 70px;
        background: url(../img/sitemap.svg) #494139 no-repeat 50% 50% / 25px 25px;
        text-indent: -9999em;
    }
    .contents .portfolio .portfolio_info .btns .link:nth-child(3) {
        width: 70px;
        background: url(../img/plan.svg) #494139 no-repeat 55% 50% / 25px 25px;
        text-indent: -9999em;
    }
    .contents .portfolio .portfolio_info .btns .link:last-child {
        width: 70px;
        background: url(../img/styleguide.svg) #494139 no-repeat 50% 50% / 25px 25px;
        text-indent: -9999em;
    }
}
@media screen and (min-width: 769px) {
    .contents .about_me .line {
        display: none;
    }
    .contents .contact_me .line {
        display: none;
    }
    .contents .contact_me .contact_myinfo {
        margin: auto 0;
        border-left: 1.5px solid #494139;
    }
}
@media screen and (max-width: 768px) {
    .container #header {
        position: relative;
    }
    .container .row {
        display: flex;
        flex-direction: column;
    }
    .container .nav {
        display: flex;
        flex-direction: column;
    }
    .container .nav .nav-item.home {
        position: static;
    }
    .container .nav .nav-item {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 0;
    }
    .container .nav .nav-item:nth-child(3) {
        top: 30px;
    }
    .container .nav .nav-item:nth-child(4) {
        top: 60px;
    }
    .contents .my .myinfo {
        margin: 0 auto;
    }
    .contents .myinfo {
        width: 80%;
        text-align: center;
    }
    .contents .myinfo .btn {
        margin: 0 auto;
    }
    .contents .about_me .myinfo .txt:before {
        content: none;
    }
    .contents .about_me .myinfo .txt.name {
        margin: 0;
        padding: 20px 0 10px 0;
    }
    .contents .about_me .myinfo .txt.birth {
        margin: 0;
        font-size: 1em;
        margin: 0;
    }
    .contents .about_me .myinfo .txt.edu {
        margin: 0 auto;
        padding-top: 10px;
        width: 70%;
        font-size: 1em;
    }
    .about_me .line {
        display: block;
        width: 11%;
        height: 2.5px;
        padding: 0;
        margin-bottom: 15px;
    }
    .contents .about_me .myinfo .btn {
        margin-top: 10px;
    }
    .contents .portfolio .images {
        padding: 0;
    }
    .contents .portfolio .images .bg_box {
        width: 100%;
        border-radius: 0;
        box-shadow: 0px 4px 10px rgb(130, 108, 86, 0.24);
    }
    .contents .portfolio .info {
        padding: 0;
    }
    .contents .portfolio .portfolio_info {
        padding: 30px 30px 0 30px;
    }
}
/*    .contents .banner {padding: 0; margin: 0}*/
.contents .banner .portfolio_info {
    display: block;
}
/*.contents .banner .portfolio_info .portfolio_name {width: 100%}*/
/*    .contents .banner .tumb {width: 100%;border-radius: 0}*/
.contents .banner .row {
    margin: 0;
}
.contents .banner span {
    width: 30px;
}
.contents .contact_me .row {
    padding: 30px 0 0 0;
}
.contents .contact_me button {
    margin-bottom: 50px;
}
.line {
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background-color: #494139;
}
.contact_me .contact_myinfo {
    border: 0 none;
    padding: 0;
    margin-top: 30px;
}
.contents .contact_me .contact_myinfo .myemail {
    text-align: center;
}
.contents .contact_me .contact_myinfo .mymoblie {
    text-align: center;
}
.contents .contact_me .contact_myinfo .myaddress {
    text-align: center;
}
